

    

    <head>
                <title>Rasmussen Used Goods</title>
    </head>
  <body>
   
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="col-sm-12 text-center">
                    <h1 class="display-1">The Elmhurst, Illinois Rasmussen Used Goods Emporium</h1 class="display-1">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-12">
                <div class="col-sm-12 text-center">    
                    <h1>Save Money For Your Family</h1>
                
                        
                        
                            <p> Are you wondering how you are going to make ends meet while raising your family? </p>
                            <break>
                            <p> Do you want nice things for your kids but can't believe the prices? </p>
                            <break>
                            <p> We understand.  Let us help you! </p>
                            <break>
                            <p> We have everything from children's clothes, furniture, toys, carseats, strollers, bikes, to sporting equipment, and exercise equipment for you! </p>
                            <break>
                            <p> All at prices you can't beat.  It takes a village..... </p>
                            <break>  
                            <p> Search the item you want, and click it to arrange a pickup time.  It's that easy! </p>
                                
                            
                        
                     <div class="col text-center">
                        <h5>See Items For Sale</h5>
                        
                        <a class="btn btn-primary btn-lg" href="/items" role="button">See All Items</a>
                    </div>   

                </div>
                
            </div>
            
        
            
                    
  

                        
                
        </div>
    </div>
    

  </body>
